<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simplelabs.framework" type="Simplelabs.Framework.Configuration.FrameworkSettings, Simplelabs.Framework"/>
  </configSections>
  <simplelabs.framework>
    <nhibernate sessionManager="thread_static">
      <sessions>
        <add name="default" filePath="NHibernate.config" />
      </sessions>
    </nhibernate>
  </simplelabs.framework>
  <connectionStrings>
    <add name="FrameworkTest" connectionString="Data Source=.;Initial Catalog=FrameworkTest;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>