<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simplelabs.framework" type="Simplelabs.Framework.Configuration.FrameworkSettings, Simplelabs.Framework"/>
  </configSections>
  <simplelabs.framework>
    <nhibernate sessionManager="Simplelabs.Framework.Persistence.NHibernate.ThreadSessionManager, Simplelabs.Framework">
      <sessions>
        <add name="default" filePath="NHibernate.config" />
      </sessions>
    </nhibernate>
  </simplelabs.framework>
  <connectionStrings>
    <add name="FrameworkTest" connectionString="Data Source=.;Initial Catalog=FrameworkTest;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91"                       culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>