<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="simplelabs.framework" type="Simplelabs.Framework.Configuration.FrameworkSettings, Simplelabs.Framework"/>
  </configSections>
  <simplelabs.framework>
    <nhibernate sessionManager="Simplelabs.Framework.Persistence.NHibernate.WebSessionManager, Simplelabs.Framework">
      <sessions>
        <add name="default" filePath="NHibernate.config" />
      </sessions>
    </nhibernate>

  </simplelabs.framework>
</configuration>